.transparent{
    -fx-background-color: rgba(0, 0, 0, 0);
}

.button1:hover{
    -fx-background-color: rgba(155, 142, 111, 0.3);
    -fx-cursor: hand;
}

.button1:focused{
    -fx-background-color: #9b8e6f;
    -fx-font-size: 14px;
    -fx-font-weight: bolder;
}

.button2{
    -fx-background-color:  #e8d5a7;
}

.button2:hover{
    -fx-background-color: rgba(155, 142, 111, 0.85);
    -fx-cursor: hand;
    /*-fx-font-size: 18px;*/
    -fx-font-weight: bolder;
}

.button2:focused{
    -fx-background-color: #675f4a;
    -fx-text-fill: antiquewhite;

}
.button2:focused .label {
    -fx-text-fill: antiquewhite;
}
.button2:focused .ikonli-font-icon {
    -fx-fill: antiquewhite;
}

.toggle-button{
    -fx-background-color: #e8d5a7;
}
.toggle-button:hover{
    -fx-background-color: #9b8e6f;
    -fx-cursor: hand;
}
.toggle-button:focused{
    -fx-background-color: #675f4a;
    -fx-text-fill: antiquewhite;
}

.button{
    -fx-background-color: #e8d5a7;
}

.button:hover{
    -fx-background-color: #9b8e6f;
    -fx-cursor: hand;
}

.text-field{
    -fx-border-style: solid;
    -fx-border-width: 0.5px;
    -fx-border-color: #9b8e6f;
    -fx-border-radius: 5px;
}

.default-color0.chart-bar {
    -fx-bar-fill: #9b8e6f;  /* Color for the first series */
}